@import "bourbon/bourbon.scss";
@import "neat/neat.scss";
@import "base/base.scss";
@import "partials/login.sass";
@import "partials/dashboard.sass";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Helvetica', 'Arial';
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  overflow: auto;
  @include outer-container;
}


