.nav-bar
  +span-columns(12)
  background: rgba(255,255,255,1)
  height: 40px
  padding-top: 8px
  margin-top: 10px
  font-weight: 200

  li
    +span-columns(2)
    list-style-type: none
    text-align: center

.avatar
  +span-columns(4.5)
  +omega()
  text-align: left
  position: relative
  
  span
    margin-right: 10px

  .gravatar
    position: absolute
    top: -5px
    right: 0
